[Unit]
Description=Run the Bugcrowd CrowdStream Discord bot hourly

[Timer]
OnCalendar=*-*-* *:12:00
Persistent=true
Unit=crowdstream.service

[Install]
WantedBy=timers.target
